h3,
h4 {
  padding-left: 0;
  margin:10px;
  margin-left:0;  
}


figure {
  margin:10px;
  margin-left:0;
  padding: 5px;
  background-color: #61dafb;
  display: inline-block;
}

div {
  display: inline-block;
  margin:10px;
}