h3 {
  padding-left: 0;
  margin: 20px 0 5px 0;
}

figure {
  margin: 20px 0 0 0;
  padding: 5px;
  background-color: #61dafb;
  display: inline-block;
}

div {
  display: inline-block;
  margin: 10px 10px 0 10px;
}
